<div class="modal fade bg-black" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-black">
      <div class="modal-header border-0">
        <button
          type="button"
          class="btn-close btn-close-white mb-4 ms-auto"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
          <h3 class="display-1 lh-1 mb-4">but you clicked...</h3>
          <h1 class="display-1 lh-2 mb-4">so you are a <span class="big-font">REBEL</span> like me...</h1>
        </div>
      </div>
      <div class="modal-footer border-0">
        <a class="btn btn-gradient py-3 px-4 mx-auto rounded-pill" data-bs-dismiss="modal" href=""
          >👋 Let´s change the world →</a
        >
      </div>
    </div>
  </div>
</div>
