// Dark mode classes

$darkColor: #fff5d0;

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark a {
  color: $darkColor !important;
}

body.theme-dark,
.theme-dark .masthead,
.theme-dark .page__meta {
  background-color: #0f1117;
  color: #d6d6d6;
}
.theme-dark .social-icons .fas,
.theme-dark .social-icons .fab,
.theme-dark .social-icons .far,
.theme-dark .social-icons .fal {
  color: #d6d6d6 !important;
}

.theme-dark .page__hero--overlay .page__meta {
  background-color: transparent !important;
}

.theme-dark #mainNav {
  background-color: #21252a !important;
  color: $darkColor;
}

.theme-dark .bg-light {
  background-color: #21252a !important;
  color: $darkColor;
}

.theme-dark ::selection {
  background-color: $primary; /* Light red background */
  color: #fff; /* Black text color */
}

.theme-dark #mainNav .navbar-toggler {
  color: $darkColor;
  border-color: $darkColor;
}

// Hero image on index.html
.masthead {
  // background: linear-gradient(
  //     180deg,
  //     transparent 0,
  //     transparent 20%,
  //     rgba(0, 0, 0, 0.1) 30%,
  //     rgba(0, 0, 0, 0.8) 70%,
  //     #000
  //   ),
  //   url(../images/HEROIMAGE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.image-david {
  background: linear-gradient(
      180deg,
      transparent 0,
      transparent 20%,
      rgba(0, 0, 0, 0.1) 70%,
      rgba(0, 0, 0, 0.9) 85%,
      #000
    ),
    url(../images/david_gomez.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 400px;
  z-index: 100;
}

// Avatars
.avatar-group .avatar {
  margin-right: -20px; /* Adjust as needed */
  display: inline-block;
  border-color: #0f1117;
  border-width: 4px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-group.reference .avatar {
  margin-right: 0 !important; /* Adjust as needed */
  border-width: 2px !important;
  width: 55px !important; /* Adjust as per your requirements */
  height: 55px !important;
  border-color: #fff5d0 !important;
}

.logo-frame {
  row-gap: 1rem;
}

.logo {
  filter: grayscale(1) invert(1);
  height: 2rem !important;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #0f1117;
}

.avatar {
  width: 48px; /* Adjust as per your requirements */
  height: 48px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flipped {
  transform: scaleX(-1);
}

// For sharing the blog on the app too

h1,
h2,
h3 {
  padding-top: 1rem !important;
}

.archive__item a {
  text-decoration: none;
  font-family: $headings-font-family;
}

// .archive__item-teaser {
//   max-height: 200px; // Limit the height on the reel of post
// }

.achive > .page__title {
  margin-bottom: 1.5rem !important;
}

.blogapp .initial-content,
.search-content {
  padding-top: 0 !important; // To start right at the top
  padding-bottom: 6rem !important; // To let some space on for the menu footer app bar
}

// @media (min-width: 48em) {
//   .archive__item-teaser img {
//     transform: translateY(-25%) !important; // Better ajustment for square pictures
//   }
// }

.theme-dark #apps .card-body {
  background-color: #000 !important;
}

.theme-dark #apps .card-footer {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.theme-dark #apps .card {
  border-color: rgba(255, 255, 255, 0.4) !important;
}

.btn-gradient {
  border-width: 0;
  background-image: linear-gradient(135deg, $primary, $secondary);
}

.gradient-tag {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  // background-image: linear-gradient(to right, #6a11cb, #2575fc);
  background-image: linear-gradient(135deg, $primary, $secondary);
  display: inline-block;
  // margin: 10px 10px 10px 0px;
}

#success .gradient-border {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border: double 5px transparent;
  border-radius: 30px;
  background-image: linear-gradient(black, black), linear-gradient(135deg, $primary, $secondary);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
#success .card-footer {
  background-color: transparent;
  border-top: none;
}
#success .card-footer img {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 3rem !important; /* Adjust the size of the logo as needed */
}

/* Desktop specific styles */
@media (min-width: 992px) {
  /* Using Bootstrap's 'lg' breakpoint */
  #success .col-lg-6:nth-child(odd) .card {
    margin-top: 0; /* No additional top margin for the first card */
  }
  #success .col-lg-6:nth-child(even) .card {
    margin-top: 100px; /* Adds a 50px top margin to the second card */
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 70%;
  }
}
@media (max-width: 991.98px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .modal-content {
    height: 100%;
    border: none;
    border-radius: 0;
  }
}

.modal {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 0 !important;
}

.big-font {
  font-size: 6rem; /* Adjust the size as needed */
  font-weight: bolder;
}
